body {
  display: flex;
  justify-content: center;
}
.container {
  height: 500px;
  width: 600px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  border: 1px solid black;
  margin-top: 5%;
}
.container >.row > div{
border:0.6px solid black;
height: 33.2%;
}
