body {
  display: flex;
  justify-content: center;
}
.container {
  height: 400px;
  width: 500px;
  margin: 6em;
}
.row {
  height: 134px;
  border: solid black;
}
.case {
  height: 100%;
  width: 166px;
  border-right: solid black;
}
